/* Variable declaration */
:root {
--hippie-blue-50: #f2f8f9;
--hippie-blue-300: #93bccd;
--hippie-blue-400: #5a93ad;
--hippie-blue-600: #3c657e;}
/* background*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../SVG/bg.svg);
    background-size: cover;
}

/* navbar */
.blur{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( .5px );
    -webkit-backdrop-filter: blur( .5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.navbar{
    display: flex;
    flex-direction: row;
    color: white;
    padding: 10px;
    overflow: auto;
    
}
.navbar a{
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.navbar a.active{
    text-decoration: none;
    background-color: var(--hippie-blue-600);
    border-radius: 10px;
}
.navbar a:hover{
    float: left;
    text-align: center;
    padding: 12px;
    background-color: var(--hippie-blue-600);
    text-decoration: none;
    border-radius: 10px;

}

/* footer */

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

footer .text{
    background: radial-gradient(circle farthest-side at top right, #324858 0%, #8a78af 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

}

img{
    width: 25%;
}
/* divs */
.flex_div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.info_holder{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.content_holder{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
/* tables/list */
li{
    list-style-type: none;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( .5px );
    -webkit-backdrop-filter: blur( .5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
