:root{
--lavender-purple-50:  #f8f7fb;
--lavender-purple-100: #f1f0f7;
--lavender-purple-200: #e6e4f0;
--lavender-purple-300: #d2cee4;
--lavender-purple-400: #b9b1d4;
--lavender-purple-500: #9b8ebf;
--lavender-purple-600: #8a78af;
--lavender-purple-700: #78659c;
--lavender-purple-800: #645483;
--lavender-purple-900: #53466c;
--lavender-purple-950: #362d48;
}
/* base */
body{
    background-image: url(../SVG/bg2.svg);
    background-size: cover;
}
.blur{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( .5px );
    -webkit-backdrop-filter: blur( .5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.flex_div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 10rem;
}
.flex_div2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

h3{
    color: var(--lavender-purple-50);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
    margin: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*nav bar*/
.navbar{
    display: flex;
    flex-direction: row;
    color: var(--lavender-purple-50);
    padding: 10px;
    overflow: auto;
    margin: 1rem;
}
.navbar a{
    float: left;
    text-align: center;
    padding: 12px;
    color: var(--lavender-purple-50);
    text-decoration: none;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.navbar a.active{
    text-decoration: none;
    background-color: var(--lavender-purple-600);
    border-radius: 10px;
}
.navbar a:hover{
    float: left;
    text-align: center;
    padding: 12px;
    background-color:var(--lavender-purple-600);
    text-decoration: none;
    border-radius: 10px;
}

/*information card*/

article{
    position:relative;
    width: 25rem;
    transition: all .5s ease;
}
article img:first-child{
    box-shadow: 0 60px 60px-60px rgba(0,0,0,.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}
article img:last-child{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 23rem;
    margin:auto;
    transition: .5s ease;
    transform: translateY(40%);
    opacity: 0;
}
article:hover{
    transform: perspective(250px) rotateX(10deg) translateY(-10%) translateZ(0);
}
article::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0,0,0,.8) 80%,
        rgba(0,0,0,0) 100%);
    opacity: 0;
    transition: all .5s ease;
}

article:hover::before{
    opacity: 1;
}
article:hover img:last-child{
    opacity: 1;
    transform: translateY(15%);
} 

/*cards*/

.card1{
    display: block;
    margin: 2rem;
    padding: 3rem;
    position: relative;
    text-decoration: none;
    z-index: 0;
    min-width: 10rem;
    overflow: hidden;
    text-align: center;
  }
.card2{
    display: block;
    margin: 2rem;
    padding: 3rem;
    position: relative;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    min-width: 10rem;
    text-align: center;
    
  }
.card3{
    display: block;
    margin: 2rem;
    padding: 3rem;
    position: relative;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    min-width: 10rem;
    text-align: center;
    
  }
.card4{
    display: block;
    margin: 2rem;
    padding: 3rem;
    position: relative;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    min-width: 10rem;
    text-align: center;
    
  }

/*  cursors*/	


.card1:hover{
    display: block;
    position: relative;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    cursor: crosshair;
  }
.card2:hover{
    display: block;
    position: relative;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    cursor: not-allowed;
  }
.card3:hover{
    display: block;
    position: relative;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    cursor: grab;
  }
.card4:hover{
    display: block;
    position: relative;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    cursor: pointer;
  }

  @media only screen and (max-width: 800px){
    article{
        width: 20rem;
    }
    article img:last-child{
        width: 18rem;
    }
  }